@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    /* Light theme variables */
    /*--page-background: 0 0% 100%;*/
    /* base */
    /*--page-foreground: 240 10% 3.9%;*/
    /* text */

    --success: hsl(142.1 76.2% 36.3%);
    /* green */
    --warning: hsl(35 77% 49%);
    /* yellow */
    --info: hsl(220 91% 54%);

    --background: hsl(0 0% 100%);
    /* base */
    --foreground: hsl(240 10% 3.9%);
    /* text */
    --card: hsl(0 0% 100%);
    /* base */
    --card-foreground: hsl(240 10% 3.9%);
    /* text */
    --popover: hsl(0 0% 100%);
    /* base */
    --popover-foreground: hsl(240 10% 3.9%);
    /* text */
    --primary: hsl(142.1 76.2% 36.3%);
    /* accent - green */
    --primary-foreground: hsl(355.7 100% 97.3%);
    /* base */
    --secondary: hsl(240 4.8% 95.9%);
    /* surface0 */
    --secondary-foreground: hsl(240 5.9% 10%);
    /* text */
    --muted: hsl(240 4.8% 95.9%);
    /* surface0 */
    --muted-foreground: hsl(240 3.8% 46.1%);
    /* subtext1 */
    --accent: hsl(240 4.8% 95.9%);
    /* surface0 */
    --accent-foreground: hsl(240 5.9% 10%);
    /* text */
    --destructive: hsl(0 84.2% 60.2%);
    /* red */
    --destructive-foreground: hsl(0 0% 98%);
    /* mantle */
    --border: hsl(240 5.9% 90%);
    /* surface1 */
    --input: hsl(240 5.9% 90%);
    /* surface1 */
    --ring: hsl(142.1 76.2% 36.3%);
    /* text */
    --radius: 1rem;
    --chart-1: hsl(12 76% 61%);
    /* red */
    --chart-2: hsl(173 58% 39%);
    /* teal/aqua */
    --chart-3: hsl(220 91% 54%);
    /* blue */
    --chart-4: hsl(35 77% 49%);
    /* yellow */
    --chart-5: hsl(109 58% 40%);
    /* green */
    --chart-6: hsl(22 99% 52%);
    /* orange */
    --chart-7: hsl(355 76% 59%);
    /* maroon */
    --chart-8: hsl(231 97% 72%);
    /* lavender */
    --chart-9: hsl(220 21% 89%);
    /* base */

    --toast-info-bg: color-mix(in srgb, var(--info) 10%, var(--background));
    --toast-info-fg: color-mix(in srgb, var(--info) 10%, transparent);
    --toast-success-bg: color-mix(in srgb, var(--success) 10%, var(--background));
    --toast-success-fg: color-mix(in srgb, var(--success) 10%, transparent);
    --toast-error-bg: color-mix(in srgb, var(--destructive) 10%, var(--background));
    --toast-error-fg: color-mix(in srgb, var(--destructive) 10%, transparent);
    --toast-warning-bg: color-mix(in srgb, var(--warning) 10%, var(--background));
    --toast-warning-fg: color-mix(in srgb, var(--warning) 10%, transparent);

  }

  .dark {
    /* Dark theme variables */
    /*--page-background: 240 21% 12%;*/
    /* mantle */
    /*--page-foreground: 226 64% 88%;*/
    /* text */
    --success: hsl(115 54% 76%);
    /* green */
    --warning: hsl(41 86% 83%);
    /* yellow */
    --info: hsl(217 92% 76%);

    --background: hsl(240 21% 12%);
    /* base */
    --foreground: hsl(226 64% 88%);
    /* text */
    --muted: hsl(237 16.239316761493683% 23%);
    /* surface0 */
    --muted-foreground: hsl(227 35.29411852359772% 80%);
    /* subtext1 */
    --popover: hsl(240 21% 15%);
    /* base */
    --popover-foreground: hsl(226 64% 88%);
    /* text */
    --card: hsl(240 21% 15%);
    /* base */
    --card-foreground: hsl(226 64% 88%);
    /* text */
    --border: hsl(234 13% 31%);
    /* surface1 */
    --input: hsl(234 13% 31%);
    /* surface1 */
    --primary: hsl(115 54% 76%);
    /* accent - Green */
    --primary-foreground: hsl(240 21% 15%);
    /* base */
    --secondary: hsl(237 16% 23%);
    /* surface0 */
    --secondary-foreground: hsl(226 64% 88%);
    /* text */
    --accent: hsl(237 16% 23%);
    /* surface0 */
    --accent-foreground: hsl(226 64% 88%);
    /* text */
    --destructive: hsl(343 81% 75%);
    /* red */
    --destructive-foreground: hsl(240 21% 12%);
    /* mantle */
    --ring: hsl(226 64% 88%);
    /* text */
    --radius: 1rem;
    --chart-1: hsl(343 81% 75%);
    /* red */
    --chart-2: hsl(170 57% 73%);
    /* teal/aqua */
    --chart-3: hsl(217 92% 76%);
    /* blue */
    --chart-4: hsl(41 86% 83%);
    /* yellow */
    --chart-5: hsl(115 54% 76%);
    /* green */
    --chart-6: hsl(23 92% 75%);
    /* orange */
    --chart-7: hsl(350 65% 77%);
    /* maroon */
    --chart-8: hsl(232 97% 85%);
    /* lavender */
    --chart-9: hsl(240 23% 9%);
    /* mantle */

    --toast-info-bg: color-mix(in srgb, var(--info) 10%, var(--background));
    --toast-info-fg: color-mix(in srgb, var(--info) 10%, transparent);
    --toast-success-bg: color-mix(in srgb, var(--success) 10%, var(--background));
    --toast-success-fg: color-mix(in srgb, var(--success) 10%, transparent);
    --toast-error-bg: color-mix(in srgb, var(--destructive) 10%, var(--background));
    --toast-error-fg: color-mix(in srgb, var(--destructive) 10%, transparent);
    --toast-warning-bg: color-mix(in srgb, var(--warning) 10%, var(--background));
    --toast-warning-fg: color-mix(in srgb, var(--warning) 10%, transparent);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-8: var(--chart-8);
  --color-chart-9: var(--chart-9);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-toast-success: var(--toast-success-bg);
  --color-toast-error: var(--toast-error-bg);
  --color-toast-warning: var(--toast-warning-bg);
  --color-toast-info: var(--toast-info-bg);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-overusedgrotesk: var(--font-overusedgrotesk), sans-serif;
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-geist-mono), sans-serif;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-gradient: gradient 3s ease infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--accordion-panel-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--accordion-panel-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes gradient {

    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  /* bring back pointer cursor from tailwind css v3*/
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {

  /* Add Tippy.js animations */
  @keyframes shift-away {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .tippy-box[data-animation="shift-away"][data-state="hidden"] {
    opacity: 0;
    transform: translateY(-10px);
  }

  @media (max-width: 768px) {
    .hidden-md {
      display: none;
    }

    .flex-md {
      display: flex;
    }
  }

  .bg-dot-pattern {
    background-image: radial-gradient(circle, var(--muted-foreground) 1px, transparent 1px);
    background-size: 24px 24px;
    opacity: 0.2;
  }
}