@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    /* Light theme variables */
    --page-background: 0 0% 100%;
    /* base */
    --page-foreground: 240 10% 3.9%;
    /* text */
    --background: 0 0% 100%;
    /* base */
    --foreground: 240 10% 3.9%;
    /* text */
    --card: 0 0% 100%;
    /* base */
    --card-foreground: 240 10% 3.9%;
    /* text */
    --popover: 0 0% 100%;
    /* base */
    --popover-foreground: 240 10% 3.9%;
    /* text */
    --primary: 142.1 76.2% 36.3%;
    /* accent - green */
    --primary-foreground: 355.7 100% 97.3%;
    /* base */
    --secondary: 240 4.8% 95.9%;
    /* surface0 */
    --secondary-foreground: 240 5.9% 10%;
    /* text */
    --muted: 240 4.8% 95.9%;
    /* surface0 */
    --muted-foreground: 240 3.8% 46.1%;
    /* subtext1 */
    --accent: 240 4.8% 95.9%;
    /* surface0 */
    --accent-foreground: 240 5.9% 10%;
    /* text */
    --destructive: 0 84.2% 60.2%;
    /* red */
    --destructive-foreground: 0 0% 98%;
    /* mantle */
    --border: 240 5.9% 90%;
    /* surface1 */
    --input: 240 5.9% 90%;
    /* surface1 */
    --ring: 142.1 76.2% 36.3%;
    /* text */
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    /* red */
    --chart-2: 173 58% 39%;
    /* teal/aqua */
    --chart-3: 220 91% 54%;
    /* blue */
    --chart-4: 35 77% 49%;
    /* yellow */
    --chart-5: 109 58% 40%;
    /* green */
    --chart-6: 22 99% 52%;
    /* orange */
    --chart-7: 355 76% 59%;
    /* maroon */
    --chart-8: 231 97% 72%;
    /* lavender */
    --chart-9: 220 21% 89%;
    /* base */
  }

  .dark {
    /* Dark theme variables */
    --page-background: 240 21% 12%;
    /* mantle */
    --page-foreground: 226 64% 88%;
    /* text */
    --background: 240 21% 12%;
    /* base */
    --foreground: 226 64% 88%;
    /* text */
    --muted: 237 16.239316761493683% 23%;
    /* surface0 */
    --muted-foreground: 227 35.29411852359772% 80%;
    /* subtext1 */
    --popover: 240 21% 15%;
    /* base */
    --popover-foreground: 226 64% 88%;
    /* text */
    --card: 240 21% 15%;
    /* base */
    --card-foreground: 226 64% 88%;
    /* text */
    --border: 234 13% 31%;
    /* surface1 */
    --input: 234 13% 31%;
    /* surface1 */
    --primary: 115 54% 76%;
    /* accent - Green */
    --primary-foreground: 240 21% 15%;
    /* base */
    --secondary: 237 16% 23%;
    /* surface0 */
    --secondary-foreground: 226 64% 88%;
    /* text */
    --accent: 237 16% 23%;
    /* surface0 */
    --accent-foreground: 226 64% 88%;
    /* text */
    --destructive: 343 81 75%;
    /* red */
    --destructive-foreground: 240 21% 12%;
    /* mantle */
    --ring: 226 64% 88%;
    /* text */
    --radius: 1rem;
    --chart-1: 343 81% 75%;
    /* red */
    --chart-2: 170 57% 73%;
    /* teal/aqua */
    --chart-3: 217 92% 76%;
    /* blue */
    --chart-4: 41 86% 83%;
    /* yellow */
    --chart-5: 115 54% 76%;
    /* green */
    --chart-6: 23 92% 75%;
    /* orange */
    --chart-7: 350 65% 77%;
    /* maroon */
    --chart-8: 232 97% 85%;
    /* lavender */
    --chart-9: 240 23% 9%;
    /* mantle */
  }
}


@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
  --color-chart-6: hsl(var(--chart-6));
  --color-chart-7: hsl(var(--chart-7));
  --color-chart-8: hsl(var(--chart-8));
  --color-chart-9: hsl(var(--chart-9));


  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-overusedgrotesk: var(--font-overusedgrotesk), sans-serif;
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-geist-mono), sans-serif;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-gradient: gradient 3s ease infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--accordion-panel-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--accordion-panel-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes gradient {

    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  /* bring back pointer cursor from tailwind css v3*/
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {

  /* Add Tippy.js animations */
  @keyframes shift-away {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .tippy-box[data-animation='shift-away'][data-state='hidden'] {
    opacity: 0;
    transform: translateY(-10px);
  }

  @media (max-width: 768px) {
    .hidden-md {
      display: none;
    }

    .flex-md {
      display: flex;
    }
  }
}